<h1>Welcome to face confirmation attendance system</h1>
<h2>Documentation</h2>
<p>Please select from the top menu</p>
<ol>
  <li>Create department
  <ul>
    <li>Create department in this menu and it's necessary, because all user is attached to any one department.</li>
    <li>You can also delete the department. However, you need to pay attention. this deletion include registered staff data along with the department. </li>
  </ul>
  </li>
  <li>Add staff
  <ul>
    <li>Select the department that the new staff belongs to and type full name.</li>
  </ul>
  </li>
  <li>Manage staff
    <ul>
      <li>Must add face image to be able to use the face confirmation.</li>
      <li>The new staff data can be also deleted from this menu.</li>
    </ul>
  </li>
  <li>Control duty
    <ul>
      <li>Actual face confirmation is to be done in this menu. and not necessary to control start work or off the work by user. The system aumatically find out it either.</li>
    </ul>
  </li>
</ol>

<p>Attention: The system is not for real use. This is just sample of using AZURE FACE API.</p>